*{
    margin: 0;
    padding: 0;
}


body {
    font-family: sans-serif;
    margin: 0; 
    background-color: green;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    height: 150px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    text-align: center; 
    padding: 10px; 
    
}

.logo img{
    height: 70px;
    margin-right: 10px;
    
}
ul, ol {
    list-style:none;
    margin-top: 0;
}

.nav > li {
    float:left;
}

.nav li a {
    
    background-color: rgb(255, 255, 255);
    color: rgb(5, 5, 5);
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color: rgb(189, 183, 183);
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right: -140px;
    top:0px;
}
h2 {
    font-size: 15px;
    font-family: normal;
}
nav {
    font-family: normal;
    font-size: 15px;
    
}
.slider {
    width: 1299px;
    height: auto;
    margin: 50 auto 0;
    overflow: hidden;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;

}
.slider li{
    list-style: none;
    width: 100%;
}
.slider img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}

}