body {
    font-family: sans-serif;
    margin: 0; 
    background-color: green;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    height: 150px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    text-align: center; 
    padding: 30px; 
    
}

.logo {
    display: flex;
    align-items: center;
    
}
.logo img{
    height: 50px;
    margin-right: 10px;
}
ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    
    background-color: rgb(255, 255, 255);
    color: black;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color: rgb(189, 183, 183);
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
h1 {
    font-size: 15px;
}
nav {
    font-family: arial;
    
}
