
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

*{  
    margin: 0;
    padding: 0;
}
/*PÁGINA INICIO*/
.img{                        /*CSS PARA EL HEADER (NAV + H2)*/
    max-width: 100%;
}
body {
    font-family: sans-serif;
    margin: 0;   
}
header a{
    text-decoration: none;
    color: black; 
}
header{
    display: flex;
    height: 150px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    text-align: center; 
    padding: 10px; 
    position: sticky;
    top: 0;
    z-index: 99;
}
header h2 {
    padding-bottom: 10px;
    font-size: 16px;
    font-family: normal;
}
.logo img{
    height: 70px;
    margin-right: 10px;  
}
ul, ol {
    list-style:none;
    margin-top: 0;
}
.nav > li {
    float:left;
}
.nav li a {
    background-color: rgb(255, 255, 255);
    color: rgb(5, 5, 5);
    text-decoration:none;
    padding:10px 12px;
    display:block;
}
.nav li a:hover {
    background-color: rgb(189, 183, 183);
}
.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}
.nav li:hover > ul {
    display:block;
}
.nav li ul li {
    position:relative;
}
.nav li ul li ul {
    right: -140px;
    top:0px;
}
nav {
    font-family: normal;
    font-size: 16px;
}
h1{                                        /*CSS PARA LA PRIMERA SECTION DEL MAIN*/
    font-size: 36px;
    color: rgb(6, 73, 6);
    font-family: "Merienda", cursive;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.titulo p{
    font-size: 15px;
    color: gray;
    font-family: "Merienda", cursive;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#imagencabecera{
    background-image: url(./img/espe3.jfif);
    background-size: cover;
    height: 85vh;
    
}
#logoinicio{                             /*CSS PARA LA SEGUNDA SECTION DEL MAIN*/
    height: 85px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
#decoracion1{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    height: 140px;
}
#decoracion2{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.boton a {
    text-decoration: none;
    color: rgb(6, 73, 6);
    font-size: 25px;
    margin: 50px;
    border: 1px solid rgb(6, 73, 6);
    padding: 5px 10px;
}
#atajos{                         /*CSS PARA LA SECCION DE ATAJOS DEL MAIN*/
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    
}
#atajos div a{
    font-family: "Merienda", cursive;
    display: block;
    font-size: 20px; 
    font-style: none;
    text-align: center;
    text-decoration: none;
    color: rgb(6, 73, 6);
}
#atajos div a img {
    padding-left: 15px;
    padding-right: 15px;
    width: 100px;
}
section#noticias{                /*CSS PARA NOTICIAS  */
    width: 90%;
    margin: auto;
    background-color: rgb(243, 242, 242);
}

  #noticias {                 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;   
  }
  .noticia {
    margin: 10px 10px;
    width: 30%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  .noticia:hover {
    transform: translateY(-5px);
  }
  .imagen-noticia {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px;
  }
  .contenido-noticia {
    padding: 15px;
  }
  .contenido-noticia h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
  }
  .contenido-noticia .resumen {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
  }
  .leer-mas {
    display: inline-block;
    padding: 8px 15px;
    background-color: rgb(6, 73, 6);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  .leer-mas:hover {
    background-color: #0056b3;
  }                    
footer div  a {                  /*CSS PARA EL FOOTER*/
    color: rgb(253, 253, 253);
    width: 300px;
    font-style: none;
    text-decoration: none;
    padding: 15px;   
}
footer div {
    display: flex;
    flex-direction: column;
}
#imagenf {
    width: 100px;
    padding-left: 580px;
    mix-blend-mode: multiply;
}
footer{
    display: flex;
    align-items: center;
    background-color: rgb(6, 73, 6)
}
/*PÁGINA HERMANDAD-JUNTA DE GOBIERNO*/
.iniciopagina{
    background-color: rgb(6, 73, 6);
    height: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./img/fondotitulo.png");
    background-size: cover;
}
#juntagobiernofoto {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
 #juntagobiernofoto img {
    width: 750px;
}
.logoeditado {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
 .logoeditado img{
    width: 500px;
}
.iniciopagina h1{
    color: white;
    font-family: normal;
    font-size: 40px;
}
section#junta{
    width: 80%;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#junta div {
    width: 25%;
    text-align: center;
    padding: 35px;
    margin: auto;
}
#junta img{
    width: 250px;
}
/*CSS PARA LA PAGINA DE HISTORIA*/
#historia{
    width: 60%;
    margin: 25px auto;
    font-family: open Sans, arial, Sans serif;
    color: #666;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em;
    padding-top: 50px;
}
.fototexto{
    display: flex;
    align-items: center;
}
.fototexto img{
    margin-left: 10px;                   
    height: auto;          
}
#imagenhistoria img {
    padding-top: 20px;
    width: 100%;
}
/*CSS PAGINA CORONACION*/
#coronacion{
    width: 60%;
    margin: 25px auto;
    font-family: open Sans, arial, Sans serif;
    color: #666;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em;  
}
#coronacion div {
    display : flex;
    justify-content: center;
    padding: 20px;
}
#coronacion h3{
    padding-top: 50px;
    display: flex;
    font-family: "Merienda", cursive;
    justify-content: center;
    color: black;
    font-size: 25px;
}
/*CSS PARA REGLAS Y SECRETARÍA*/

.documento{
    padding-top: 100px;      
    width: 60%;
    height: 1000px; /* Ajusta la altura según lo necesario */
    width: 1000px;
}
#reglas{
    display: flex;
    justify-content: center;
}
#secretaria {
    width: 60%;
    margin: 25px auto;
    font-family: open Sans, arial, Sans serif;
    color: #666;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em; 
}
#primertexto{
    padding-top: 50PX;
}
.correo {
    color: red;
}
#secretaria a{
    display: flex;
    justify-content: center;
    color: red;
    font-size: 20px;
}
#primerenlace{
    padding-top: 20px;
}
 /*CSS PARA LA VOCALIA DE JUVENTUD*/
 #juventudfoto{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
 }
 #juventudfoto img{
    width: 750px;
 }
 #juventud {
    width: 60%;
    margin: 25px auto;
    font-family: open Sans, arial, Sans serif;
    color: #666;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em
 }
#juventud .correo{
    font-style: none;
    text-decoration: none;
    color: red;
}

/*CSS PARA VOCALIA COSTALEROS*/

#costalerosfoto{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
 }
 #costalerosfoto img{
    width: 750px;
 }
 #costaleros {
    width: 60%;
    margin: 25px auto;
    font-family: open Sans, arial, Sans serif;
    color: #666;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em
 }
#costaleros .correo{
    font-style: none;
    text-decoration: none;
    color: red;
}

/*CSS de la pagina de la banda*/
#bandafoto{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
 }
 #bandafoto img{
    width: 750px;
 }
 #bandas article {
    width: 30%;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    margin: 30px;
 }
#bandas article h3{
    color: black;
    padding-bottom: 5px;
}
#bandas article p{
    padding: 10px;
    color: #666;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em
}
#infobandas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: open Sans, arial, Sans serif;
    width: 60%;
    margin: 25px auto;
}
#historiabandas p{
    padding: 10px;
    color: #666;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em
}
#historiabandas {
    width: 60%;
    margin: 25px auto;
    font-family: open Sans, arial, Sans serif;  
}